.note{ id: "#{ dom_id(note) }" }
  %p= link_to note.body, note.edit_notable_note_path, remote: true
  %h3= link_to "Delete", note.notable_note_path, method: :delete, data: { confirm: 'Are you sure?' }, remote: true
%br
