= render "steps/header"

%article.outer_container
  %section.step_content
    %label
      = t('job_steps.apply.sent')
    %p
      = @job.job_application.sent ? "Sent" : "Not sent"

    - if @job.job_application.date
      %label When did you apply?
      %p
        = @job.job_application.date

