= render "steps/header"

%article.outer_container
  %section.step_content
    %label
      = t('job_steps.apply.sent')
    %p
      = @job.job_application.sent ? "Sent" : "Not sent"

    - unless @job.job_application.sent == false
      %label Date Applied:
      %p
        = @job.job_application.date
