= render "steps/header"

%section.step_content
  %h2 Document Checklist
  %br
  %br

  %ul
    %li
      %div{class: @job.document.resume ? 'checked' : 'unchecked'}
      %label Resume
    %li
      %div{class: @job.document.cover_letter ? 'checked' : 'unchecked'}
      %label Cover Letter
    %li
      %div{class: @job.document.portfolio ? 'checked' : 'unchecked'}
      %label Portfolio
    %li
      %div{class: @job.document.certifications ? 'checked' : 'unchecked'}
      %label Certifications
    %li
      %div{class: @job.document.references ? 'checked' : 'unchecked'}
      %label References
    %li
      %div{class: @job.document.recommendations ? 'checked' : 'unchecked'}
      %label Recommendations
