= render "steps/header"

%article.outer_container
  %section.step_content
    %label Interview format
    %p= @job.interview.format
    %label Interview date
    %p= @job.interview.date

    -# = link_to "Add an interview", new_interview_job_path, method: :put
