= render "steps/header"

%section.step_content{ id: dom_id(@job.network) }
  %label Did / do you plan to discuss this position with someone?

  - if @job.network.plans == true
    %p
      Yes
  - else
    %p
      No

  - unless @job.network.plans == false
    %label Meeting Date
    %p
      = @job.network.date
