= render "steps/header"

%section.step_content
  %label Company's mission/vision/values
  %p
    = @job.research.company_mission

  %label Company's strategic goal
  %p
    = @job.research.company_goals

  %label Favorite company product/project/service
  %p
    = @job.research.current_projects

  / %label Additional notes



