// Global page header

%header.main_header
  %a.logo
    = image_tag "order_logo.svg", size: "100"
  %div.ribbon BETA
  - if current_user
    = link_to "Sign out", destroy_user_session_url
  - else
    = link_to "Sign in", new_user_session_path
